<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<% include header.ejs %>
		<!-- Main -->
			<section id="main" class="container 75%">
				<header>
					<h2>Profile</h2>
					<p><%= user %></p>
				</header>
			</section>
<% include footer.ejs %>
