<!DOCTYPE HTML>
<html>
	<head>
		<title>Prologue by HTML5 UP</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel='stylesheet' href='/stylesheets/proStyle.css'>
<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<noscript>
			<link rel="stylesheet" href="/prolugue/skel.css" />
			<link rel="stylesheet" href="/prolugue/style.css" />
			<link rel="stylesheet" href="/prolugue/style-wide.css" />
		</noscript>
<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

	<!-- Header -->
	<div id="header" class="skel-layers-fixed">

		<div class="top">

			<!-- Nav -->
			<nav id="nav">
				<!--

								Prologue's nav expects links in one of two formats:

								1. Hash link (scrolls to a different section within the page)

								<li><a href="#foobar" id="foobar-link" class="icon fa-whatever-icon-you-want skel-layers-ignoreHref"><span class="label">Foobar</span></a></li>

								2. Standard link (sends the user to another page/site)

								<li><a href="http://foobar.tld" id="foobar-link" class="icon fa-whatever-icon-you-want"><span class="label">Foobar</span></a></li>

							-->
				<ul>
					<li><a href="/" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Home</span></a></li>
					<li><a href="/scores" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Set Up Game</span></a></li>
					<li><a href="/scores/stats" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-bar-chart">Stats</span></a></li>
				</ul>
			</nav>

		</div>

		<div class="bottom">

			<!-- Social Icons -->
			<ul class="icons">
				<li><a target="_blank" href="https://twitter.com/dogemountain" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a target="_blank" href="https://github.com/euranium" class="icon fa-github"><span class="label">Github</span></a></li>
				<li><a target="_blank" href="https://wwucs.slack.com/team/euranium" class="icon fa-slack"><span class="label">Slack</span></a></li>
			</ul>

		</div>

	</div>

