body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#logout {
	list-style: none none;
	background-color: #bdbdbd !important;
}
@media (min-width: 820px) {
	.small {
		display: none !important;
	}
}
ul li{
	list-style: none;
}
#select {
	display: none;
	text-align: center;
	position: absolute;
	right: 0;
	background: #bdbdbd;
	list-style: none;
	width: 100%;
	max-width: 150px;
	height: 200%;
	border: black;
	border-radius: 6px;
	box-shadow: 0 0 19px 5px rgba(66, 66, 66, 1);
}

#select a {
	margin-left: -30px;
	width: 100%;
	text-align: center;
	color: black;
}

#profile {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 50px;
}
#stuff {
	margin-top: 50px;
	text-align: center;
}

#log {
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	background-color: #bdbdbd;
}
#Winner {
	width: 50%;
	margin-left: -21px;
}
#loser {
	width: 50%;
}
#enter, #entry, #Entry {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
#Entry {
	margin-left: -15px;
}
#submit {
	margin-right: auto;
	margin-left: auto;
}

#accept {
	background-color: green;
}
#reject {
	background-color: red;
}
#accept, #reject {
	width: 100px;
	height: 50px;
	line-height: 0;
}
#history {
	width: 100%;
	text-align: center;
}
.log {
	margin-bottom: 10px;
}
